extends ../layout 

block content
	div.container
		div.row
			div.col-sm-6.col-md-4.col-md-offset-4
				h1.text-center.login-title Editar #{team.name}
				div.signup-wall
					form(class='form-signin', action='', method='POST', enctype="multipart/form-data")
						
						label(for='name') Nome
						input(type='text', id='name', name='name', class='form-control', value=team.name)
						
						label(for='picture') Foto
						input(type='file', id='picture', name='image', class='form-control nomargin',)

						br
						br

						label(for='city') City
						input(type='text', id="city", name='city', class='form-control', value=team.city)
						
						label(for='uf') UF
						input(type='text', id="uf", name='uf', class='form-control', value=team.uf)
						
						button(class='btn btn-lg btn-primary btn-block', type='submit') Salvar
						span.clearfix
				#message
					if message
						h1.text-center.error-message #{message}