extends ../layout

block content
    h1.
        Infophoto #{team.picture}
    p Name: #{team.name}
    p Badge: #{team.team}

    div.vote(user=team._id value='1') recomendar
    div.vote(user=team._id value='0') negativar