extends ../layout

block content
    div.row
    h3.
        Jogadores:

    div.row

      form(action='', method='GET')
        div.col.s5
          label(for='filter') Buscar por nome:
          input(type='text', id='filter', name='filter', class='validate', placeholder='Nome' require)

        div.col.s7
          button(class='btn', type='submit') Buscar
    div.row
      - each player, i in players
        include players_list_block.jade

    div.row
      div.col.s12

        if players.count > 1
          ul.pagination
            if page > 1  
            
            - for (var i=0; i<players.count; i++)

              li(class= page == i || !page && i==0 ? "active" : "waves-effect")
                if(filter)
                  a(href="?page=#{i}&filter=#{filter}") #{i+1}
                else
                  a(href="?page=#{i}") #{i+1}
          

